:root {
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #8c8c8c;
  --color-lightgrey: #d0d0d0;

  --color-neutral: #d8dfe2;
  --color-lightblue: #71adb5;
  --color-blue: #176d81;
  --color-darkblue: #0b648d;

  font-size: 10px;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url('../images/brickwall_@2X.png') fixed; /* Pattern by Benjamin Ward @ Toptal.com */
}

/* Base Styles */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.site-section {
  padding: 5rem 0;
  width: 80%;
  margin: 0 auto;
}

.section-header {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.list-item {
  list-style: none;
}

.btn {
  color: var(--color-white);
  background-color: var(--color-lightblue);
  text-decoration: none;
  font-size: 2rem;
  border-radius: .5rem;
  padding: 1rem 2rem;
  transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
  border: 0.3rem solid transparent;
  cursor: pointer;
}

.btn:hover {
  border: 0.3rem solid var(--color-darkblue);
}

/* Navigation Section */

.navigator {
 width: 100%;
 position: fixed;
 background-color: var(--color-darkblue);
}

.navigator-container {
  margin: 0 auto;
  width: 80%;
  align-items: center;
  background-color: var(--color-darkblue);
  height: 5rem;
  position: relative;
}

.site-logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
}

.nav-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  background-color: transparent;
  color: var(--color-white);
  transition: color 0.3s ease;
  margin-top: 1.5rem;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.nav-btn .fa-bars,
.nav-btn .fa-times {
  font-size: 7rem;
}

.navigator-nav {
  position: absolute;
  right: 0;
  width: 80%;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.nav-link {
  color: var(--color-white);
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 0 2rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
  color: var(--color-lightblue);
}

.navigator-nav .list-item:last-child .nav-link {
  padding-right: 0;
}

/* Header Section */

.site-header {
  background: linear-gradient(to top,rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('../images/keymachine-sm.jpg');
  background-size: cover;
  background-position: 40% center;
  height: 50vh;
  color: var(--color-white);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.main-header {
  font-size: 7.2rem;
}

.sub-header {
  font-size: 2rem;
}

.header-btn {
  margin: 2rem 0;
}

/* Services Section */

.services-grid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30rem 30rem;
  grid-gap: 5rem;
}

.offers {
  background-color: var(--color-lightgrey);
  padding: 2rem;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.7);
}

.offers h3 {
  font-size: 3rem;
}

.offers .list-item {
  font-size: 1.6rem;
}

/* About Section */

.about {
  background-color: var(--color-white);
}

.about-container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.owner-image {
  width: 70rem;
}

figure {
  justify-self: center;
}

figcaption {
  font-size: 1.4rem;
}

.about-description-container {
  font-size: 2rem;
  padding: 2rem;
  min-width: 20rem;
  width: 100%;
  line-height: 1.8;
}

.owner-past-imgs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.old-img {
  width: 100%;
  max-width: 30rem;
  margin: 1rem 1rem 1rem 0;
}

/* Contact Section */

.contact {
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/handshake.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  color: var(--color-white);
}

.inner-contact-container {
  width: 80%;
}

.form-info-container,
.form-container {
  margin: 0 auto; 
}

.form-info-container {
  margin: auto 0;
  margin-left: auto;
  padding: 2rem;
}

.form-info-container h3 {
  margin-bottom: 2rem;
}

.form-info-container p {
  max-width: 60rem;
}

.form-info-container ul {
  margin: 2rem 0;
  list-style: none;
}

.form-info-container .far {
  color: rgb(61, 242, 61);
  margin-right: 2rem;
}

.contact-form {
  display: inline-block;
  background-color: rgba(208, 208, 208, 0.7);
  padding: 3rem 6rem;
}

.contact label {
  text-align: left;
  color: var(--color-black);
}

.contact input,
.contact textarea,
.contact button {
  width: 100%;
}

.contact input,
.contact textarea {
  border: 2px solid var(--color-lightblue);
  background-color: var(--color-neutral);
  padding: 2rem 1rem;
  font-size: 2rem;
  font-family: inherit;
}

.contact textarea {
  height: 20rem;
}

.form-submit:hover {
  background-color: var(--color-white);
  color: var(--color-blue);
}

/* Location Section */

.location-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.map {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.location-info {
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--color-darkblue);
  font-size: 3rem;
  color: var(--color-white);
  padding: 5rem;
  line-height: 1.8;
}

.location-info .fa-map-marker-alt {
  color: rgb(250, 109, 58);
}

.location-info .fa-phone-alt {
  color: rgb(233, 64, 64);
}

/* Footer Section */

.footer {
  color: var(--color-white);
  min-height: 50vh;
  background: linear-gradient(to top, rgba(0, 24, 36, 0.9), rgba(11, 101, 142, 0.7)), url('../images/buildings.jpg');
  background-position: center;
  object-fit: cover;
  padding: 2rem 0;
}

.inner-footer-container {
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 8rem 4rem;
}

.footer-menu {
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 2rem;
  gap: 10rem;
}

.footer-menu ul {
  list-style: none;
}

.footer-menu ul li {
  line-height: 2;
}

.footer-navigator ul {
  font-size: 2rem;
  list-style: none;
}

.footer-nav-link {
  color: var(--color-white);
  text-decoration: none;
  line-height: 2;
}

.site-attribute {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
}

.footer-link {
  color: var(--color-lightgrey);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--color-lightblue);
}

/* Media Queries */

@media (min-width: 1440px) {

  .site-logo {
    top: 0.5rem;
    height: 6rem;
  }

  .navigator-container {
    height: 7rem;
  }
}

@media (max-width: 1440px) {
  .navigator-nav {
    width: 100%;
  }

  .form-info-container {
    max-width: 50rem;
  }
}

@media (max-width: 1200px) {

  .nav-link {
    font-size: 1.6rem;
    padding: 0 1.2rem;
  }

  .site-logo {
    height: 3.5rem;
    top: 0.75rem;
  }

  /* Services Section */

  .services-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30rem 30rem 30rem;
    grid-gap: 3rem;
  }

  /* About Section */

  .about-container {
    grid-template-columns: 1fr;
  }

  .about-description-container {
    padding: 2rem;
  }

  /* Contact Section */

  .inner-contact-container {
    flex-direction: column;
  }

  .form-info-container {
    margin: 0 auto;
  }

  /* Location Section */

  .location-info {
    font-size: 2.2rem;
    padding: 3rem;
  }

  .location-info div {
    margin: 2rem 0;
  }

}

@media (max-width: 992px) {
  .services-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
  }

  /* About Section */

  .owner-image {
    width: 50rem;
  }

  .about-description-container {
    font-size: 1.6rem;
    line-height: 1.4;
  }

}

@media (max-width: 768px) {
  
  .site-logo {
    height: 4rem;
    top: 3rem;
  }

  .navigator-container {
    height: 10rem;
    justify-content: flex-end;
    align-items: center;
    transition: height 0.3s ease;
  }

  .navigator-container.active {
    height: 100vh;
  }

  .navigator-nav {
    display: none;
  }

  .navigator-nav.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-darkblue);
  }

  .nav-btn {
    display: inline-block;
  }

  .list-item {
    margin: 1rem 0;
  }

  .nav-link {
    font-size: 4.8rem;
  }

  .site-header {
    min-height: 100vh;
  }
  
  .site-section {
    width: 95%;
  }

  .about-container {
    width: 100%;
  }

  .about figure {
    padding: 0 2rem;
  }

  .owner-image {
    max-height: 100%;
    max-width: 100%;
  }

  .contact {
    width: 100%;
  }

  .inner-contact-container {
    flex-direction: column;
    width: 95%;
  }

  .form-info-container {
    font-size: 2.2rem;
  }
  
  .contact-form {
    padding: 3rem 2rem;
  }

  .location-content-container {
    grid-template-columns: 1fr;
  }

  .inner-footer-container {
    width: 95%;
  }

  .footer-menu {
    font-size: 1.6rem;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

}

@media (max-width: 576px) {

  .location {
    width: 100%;
  }

  .inner-footer-container {
    width: 100%;
  }
}

@media (max-width: 375px) {

  .main-header {
    font-size: 6rem; 
  }

  .sub-header {
    font-size: 1.6rem;
  }

  .list-item {
    margin: 0.5rem 0;
  }

  .about-description-container {
    max-width: 100%;
  }

  .contact-form {
    padding: 2rem;
    font-size: 2.2rem;
  }



  .inner-footer-container {
    font-size: 1.6rem;
  }

}